<template>
  <div>
    {{ $route.params.id }}
    <div class="container">
      <form @submit.prevent="handleForm(post)">
        <post-form :new-post="post"></post-form>
      </form>
    </div>
  </div>
</template>

<script>
import PostForm from "../components/PostForm";
import {mapActions, mapState} from "vuex";

export default {
  name: "EditPost",
  components: {PostForm},
  methods: {
    ...mapActions(['editPost', 'updatePost']),
    handleForm(post) {
      this.updatePost(post)
    }
  },
  computed: {
    ...mapState(['post'])
  },
  created() {
    console.log(this.$route.params.id)
    this.editPost(this.$route.params.id)
  }
}

</script>

<style scoped>

</style>