<template>
  <div class="content container">
    <div class="is-flex is-justify-content-space-between my-2">
      <div>
        <h1 class="is-size-4">Posts</h1>
      </div>
    </div>
    <div class="content columns is-centered">
      <div class="column is-two-thirds">
        <div v-if="noPosts" class="notification is-danger">
          <button class="delete"></button>
          There are no posts now.
        </div>
        <transition-group name="fade" tag="post-card">
          <div v-for="post in posts" :key="post.id">
            <post-card :post="post" :footer="false"></post-card>
            <br>
          </div>
        </transition-group>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from "vuex";
import PostCard from "../components/PostCard";
export default {
name: "Feed",
  components:{
    'post-card' :PostCard
  },
  methods:{
  ...mapActions(['getFeed']),
  },
  computed:{
    ...mapState(['posts','user']),
    noPosts(){
      return this.posts.length <= 0
    },
  },
  created() {
  this.getFeed()
  }
}
</script>

<style scoped>

</style>