<template>
  <div class="columns is is-gapless">
    <div class="column">
      <div class="hero is-fullheight is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Planter</h1>
            <p class="subtitle">Bringing livelihood to your home</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column has-background-primary has-text-centered">
      <div class="p-4 is-vcentered">
        <img src="@/assets/img/planter.svg" alt="ilustration" width="90%" />
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Home',
  components: {

  }
}
</script>
