<template>
  <div class="columns is-centered">
    <div class="card column is-rounded is-two-fifths">
      <div class="card-content">
        <form @submit.prevent="processForm">
          <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control">
              <input type="email" class="input" id="email" v-model="userData.email"/>
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
              <input id="password" type="password" class="input" v-model="userData.pass1"/>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" :disabled="blockButton">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  data() {
    return {
      userData: {
        email: '',
        pass1: '',
      }
    }
  },
  methods: {
    ...mapActions(['signIn']),
    processForm() {
      this.signIn(this.userData)
      this.userData = {
        email: '',
        pass1: '',
      }
    }
  },
  computed: {
    blockButton() {
      if (!this.userData.email.includes('@')) {
        return true
      }
      return !(this.userData.pass1.length > 5);
    },
  }
}
</script>

<style>
</style>