<template>
  <div class="content container">
    <div class="is-flex is-justify-content-space-between my-2">
      <div>
        <h1 class="is-size-4">Posts</h1>
      </div>
      <div>
        <button class="button is-primary mx-3" @click="toggleModal">
          <span> <i class="fas fa-plus m-2"></i></span>
          <span class="is-hidden-mobile">New post</span>
        </button>
      </div>
    </div>
    <div class="content columns is-centered">
      <div class="column is-two-thirds">
        <div v-if="noPosts" class="notification is-danger">
          <button class="delete"></button>
         There are no posts now.
        </div>
        <transition-group name="fade" tag="post-card">
        <div v-for="post in posts" :key="post.id">
            <post-card :post="post" :footer="true"></post-card>
          <br>
        </div>
        </transition-group>
      </div>
    </div>

    <!-- Modal -->
    <div
        class="modal animate__animated animate__fadeIn"
        :class="{ 'is-active': addActive }"
    >
      <div class="modal-background" @click="toggleModal"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">New Post</p>
          <button
              class="delete"
              aria-label="close"
              @click="toggleModal"
          ></button>
        </header>
        <section class="modal-card-body">
          <form @submit.prevent="handleForm">
            <post-form :new-post="newPost" />
          </form>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import PostCard from "../components/PostCard";
import PostForm from '../components/PostForm';
import {nanoid} from 'nanoid';
import {mapActions, mapState} from "vuex";

export default {
  components: {
    PostForm,
    'post-card' :PostCard
  },
  data() {
    return {
      addActive: false,
      newPost: {
        id: '',
        title: '',
        body: ''
      }
    }
  },
  methods: {
    ...mapActions(['addPost','loadPosts']),
    toggleModal() {
      this.addActive = !this.addActive
    },
    handleForm() {
      this.newPost.id = nanoid()
      this.addPost(this.newPost)
      this.newPost = {
        id: '',
        title: '',
        body: ''
      }
      this.addActive = false
    }
  },
  computed: {
    ...mapState(['posts']),
    noPosts(){
      return this.posts.length <= 0
    }
  },
  created() {
    this.loadPosts()
  }
}
</script>

<style>
.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
</style>