<template>
  <div>
    <div class="columns is-centered">
      <div class="card column is-rounded is-two-fifths">
        <div class="card-content">
          <form @submit.prevent="register">
            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control">
                <input type="text" class="input" id="username" v-model="userData.username"/>
              </div>
            </div>
            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control">
                <input type="email" class="input" id="email" v-model.trim="userData.email"/>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control">
                <input id="password" type="password" class="input" v-model.trim="userData.pass1"/>
              </div>
            </div>
            <div class="field">
              <label for="password2" class="label">Confirm Password</label>
              <div class="control">
                <input id="password2" type="password" class="input" v-model.trim="userData.pass2"/>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" :disabled="blockButton">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  data() {
    return {
      userData: {
        username: '',
        email: '',
        pass1: '',
        pass2: ''
      }

    }
  },
  methods: {
    ...mapActions(['registerUser']),
    register() {
      this.registerUser(this.userData)
      this.userData = {
        username: '',
        email: '',
        pass1: '',
        pass2: ''
      }
    }
  },
  computed: {
    blockButton() {
      if (!this.userData.email.includes('@')) {
        return true
      }
      return !(this.userData.pass1.length > 5 && this.userData.pass1 === this.userData.pass2);
    },
  }
}
</script>

<style>
</style>