<template>
  <nav class="navbar mb-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28"
        />
      </a>

      <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          @click="toggleMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
        id="navbarBasicExample"
        class="navbar-menu animate__animated animate__fadeInDown"
        :class="{ 'is-active': menuActive }"
    >
      <div class="navbar-start">
        <router-link class="navbar-item" to="/"> Home</router-link>

        <router-link class="navbar-item" to="/posts" v-if="userIsAuthenticated">Posts</router-link>
        <router-link class="navbar-item" to="/feed" v-if="userIsAuthenticated">Feed</router-link>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> More </a>

          <div class="navbar-dropdown">
            <a class="navbar-item"> About </a>
            <a class="navbar-item"> Jobs </a>
            <a class="navbar-item"> Contact </a>
            <hr class="navbar-divider"/>
            <a class="navbar-item"> Report an issue </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <div class="public" v-if="!userIsAuthenticated">
              <router-link class="button is-primary" to="/register">
                <strong>Sign up</strong>
              </router-link>
              <router-link class="button is-light" to="/login">
                Log in
              </router-link>
            </div>
            <div class="private" v-else>
              <button class="button is-primary" @click="logOut">
                Log Out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Navbar",
  data() {
    return {
      menuActive: false
    }
  },
  methods: {
    ...mapActions(['logOut']),
    toggleMenu() {
      this.menuActive = !this.menuActive
    }
  },
  computed: {
    ...mapGetters(['userIsAuthenticated'])

  }
}
</script>

<style scoped>
.animate__animated.animate__fadeInDown {
  --animate-duration: 0.3s;
}
</style>