<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{ post.title }}</p>
    </header>
    <div class="card-content">
      <div class="content">
        {{post.body}}
        <time datetime="2020-1-12">11:09 PM - 1 Dec 2020</time>
      </div>
    </div>
    <footer class="card-footer" v-if="footer">
      <router-link :to="{name:'Edit',params:{id:post.id}}" id="editIcon" class="card-footer-item" > <span> <i class="fas fa-edit"></i></span></router-link>
      <a id="deleteIcon" href="#" @click.prevent="deletePost(post.id)" class="card-footer-item"> <span> <i class="fas fa-trash"></i></span></a>
    </footer>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "PostCard",
  props: {
    post: Object,
    footer: Boolean
  },
  methods:{
    ...mapActions(['deletePost'])
  }
}
</script>

<style scoped>
#deleteIcon:hover {
  color: #ff5d5b;
}

#editIcon:hover {
  color: #53bdff;
}
</style>