<template>
  <div>
    <div class="field">
      <label for="postTitle" class="label">Post Title</label>
      <div class="control">
        <input id="postTitle" type="text" class="input" v-model="newPost.title"/>
      </div>
    </div>
    <div class="field">
      <label for="postBody" class="label">Content</label>
      <div class="control">
      <textarea
          name="postBody"
          id="postBody"
          cols="30"
          rows="10"
          class="textarea"
          v-model="newPost.body"
      ></textarea>
      </div>
    </div>
    <div class="field is-flex is-justify-content-end">
      <div class="control">
        <button class="button is-link">Post</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "postForm",
  props:{
    newPost: Object,
  }
}
</script>

<style scoped>

</style>