<template>
  <div id="app">
    <Navbar />
    <router-view />
  </div>
</template>

<style>
</style>
<script>
import Navbar from "./components/Navbar";
import {mapActions} from "vuex";
export default {
  components: {
    Navbar
  }, methods:{
    ...mapActions(['verifyLogin'])
  },
  created() {
    this.verifyLogin()
  }

}
</script>
